.container-list {
  margin: 5rem auto;
  padding: 0 3rem;
  max-width: 600px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}
.list {
  max-height: 0;
  overflow: hidden;
}

.hidden {
  animation: shrink 1s ease-in-out forwards;
}

.visible {
  overflow: auto;
  animation: expand 1s ease-in-out forwards;
}

@keyframes expand {
  to {
    max-height: 600px;
    opacity: 1;
  }
}

@keyframes shrink {
  from {
    max-height: 600px;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}

.title {
  margin: 3rem 0 1.5rem;
}

.date {
  margin: 1rem 0 0.4rem;
}

.date::before {
  content: "▸";
  padding-right: 3px;
}

.desc {
  padding: 0.8rem 0.5rem;
  border-bottom: 1px solid var(--border-color);
}

.desc strong {
  float: right;
}
