.title {
  margin: 3rem 0 1.5rem;
}

.date {
  margin: 1rem 0 0.4rem;
}

.date::before {
  content: "▸";
  padding-right: 3px;
}

.desc {
  padding: 0.8rem 0.5rem;
  border-bottom: 1px solid var(--border-color);
}

.desc strong {
  float: right;
}
