.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.app {
  margin: 5rem auto;
  padding: 3rem;
  max-width: 600px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.app h1 {
  margin-bottom: 1rem;
  letter-spacing: 3px;
  text-align: center;
}

.balance {
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  flex-grow: 1;
}

.row button {
  flex: 1;
}

.row button:not(:last-child) {
  margin-right: 2rem;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;

  height: 250px;
}

.logo {
  margin: auto;
}
