:root {
  --primary-color: #28a745;
  --pos-color: #62bb1a;
  --neg-color: #d01d10;
  --highlight-color: #0a7ae9;
  --text-color: #404040;
  --border-color: #e1e1e1;
  --shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  color: var(--text-color);
}

@media only screen and (max-width: 650px) {
  body {
    font-size: 14px;
  }
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}
